// Variables colors

$body-color: #080606;

$body-bg: #ffffff;

$primary-color: #f6f6f6;

$secondary-color: #101021;

$secondary-color-translucent: rgba( $secondary-color, .9 );

$secondary-color-active: #292b47;

$secondary-color-hover: lighten( $secondary-color-active, 5% );

$color-grey-secondary: #8a8995;

$color-bg-list: #ffffff;

$color-border: #e0e0e0;

$color-close: #fc5a54;

$color-minimize: #fdbb35;

$color-zoom: #1fcb4e;

$color-menu: #ffffff;